.navbar-brand {
  padding: 0px 15px 0px 15px;
}

@media (min-width: 0) {
#hero {
  background-image: url(../images/bgmain.jpg);
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
  min-height: 650px;
  }
}

#navTabs {
  margin: 300 auto;
}
