#brand1 {
  margin-left: 10%;
}

#navTabs li {
  display: inline-block;
  margin-left: 35px;
  padding-top: 15px;
  position: relative;
}
#navTabs a:hover {
  color: aqua;
}

#navTabs a::before {
  content:"";
  display: block;
  height: 5px;
  width: 100%;
  background-color: aqua;
  position: absolute;
  top: 0;
  width: 0%;
  transition-duration: 250ms;

}

#navTabs a:hover::before {
  width: 100%;
}

@media (min-width: 0) {
#hero {
  background-image: url(../images/bgmain.jpg);
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
  min-height: 650px;
  }
}
#hero h3 {
  color: blue;
}
