#brand1 a {
  color: #4d0404; }

.navbar {
  height: 56px;
  z-index: 10; }

#navTabs li {
  display: inline-block;
  margin-left: 35px;
  padding-top: 15px;
  position: relative; }

#navTabs a:hover {
  color: aqua; }

#navTabs a::before {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: aqua;
  position: absolute;
  top: 0;
  width: 0%;
  transition-duration: 250ms; }

#navTabs a:hover::before {
  width: 100%; }

@media (min-width: 0px) {
  .vl {
    border-left: 3px solid #4d0404; } }

.bkg-hero {
  background-image: url(../images/bgmain.jpg);
  background-size: cover;
  background-position: center bottom; }

.section-1 {
  min-height: 650px;
  padding-top: 18%;
  margin-top: -56px;
  z-index: 9; }

h1 {
  font-size: 70px;
  color: #d30c0c; }

h4 {
  color: black;
  margin-right: 20%;
  text-align: left; }

.jumbotron-header {
  margin-left: 20%;
  text-align: right; }

.custom-col-4 {
  padding-top: calc(1 / 3 * 100%);
  background-size: cover;
  background-position: center; }

.test1 {
  background-image: url(../images/image09.jpg);
  padding-top: calc(2 / 3 * 100%);
  background-size: cover;
  background-position: center bottom;
  max-width: 100%; }
