.custompadding {
  margin-top: 5%;
  margin-bottom: 5%; }

@media (min-width: 768px) {
  .vl {
    border-left: 3px solid #6e0a0a; } }

#brand1 a {
  color: #6e0a0a; }

.navbar {
  height: 56px;
  z-index: 10; }

@media (max-width: 767px) {
  .navbarcustom-bg {
    background-color: darkgrey; } }

#navTabs li {
  display: inline-block;
  margin-left: 35px;
  padding-top: 15px;
  position: relative; }

#navTabs a:hover {
  color: aqua; }

#navTabs a::before {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: aqua;
  position: absolute;
  top: 0;
  width: 0%;
  transition-duration: 250ms; }

#navTabs a:hover::before {
  width: 100%; }

.bkg-hero {
  background-image: url(../images/jumbotron.png);
  background-size: cover;
  background-position: center bottom; }

.section-1 {
  min-height: 450px;
  padding: 10% 10% 5% 10%;
  margin-top: -56px;
  z-index: 9; }

h1 {
  font-size: 70px;
  color: #6e0a0a; }

.jumbotron-header {
  margin-left: 20%;
  text-align: right; }

.button-color {
  background-color: #008CBA;
  color: white; }

.scrollableRow {
  overflow-x: scroll;
  margin-left: -24px;
  margin-right: -24px;
  padding-left: 18px;
  padding-right: 18px; }

.thumb {
  padding-top: calc(2 / 3 * 100%);
  background-size: cover;
  background-position: center bottom;
  max-width: 100%; }

.proj1thumb {
  background-image: url(../images/thumbnail1.png);
  padding-top: calc(2 / 3 * 100%);
  background-size: cover;
  background-position: center bottom;
  max-width: 100%; }

.proj2thumb {
  background-image: url(../images/thumbnail2.png);
  padding-top: calc(2 / 3 * 100%);
  background-size: cover;
  background-position: center bottom;
  max-width: 100%; }

.proj3thumb {
  background-image: url(../images/thumbnail3.png); }

.proj1main {
  background-image: url(../images/apple-clone.png);
  padding-top: calc(2 / 3 * 100%);
  background-size: cover;
  background-position: top;
  max-width: 100%; }

.proj2main {
  background-image: url(../images/newsweek-clone.png);
  padding-top: calc(2 / 3 * 100%);
  background-size: cover;
  background-position: top;
  max-width: 100%; }

.proj3main {
  background-image: url(../images/airbnb-clone.png);
  padding-top: calc(2 / 3 * 100%);
  background-size: cover;
  background-position: top;
  max-width: 100%; }

.myphoto {
  background-image: url(../images/me.png);
  padding-top: calc(2 / 3 * 100%);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%; }

.envelop {
  background-image: url(../images/email.png);
  padding-top: calc(2 / 3 * 100%);
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%; }

.mobile {
  background-image: url(../images/smartphone.png);
  padding-top: calc(2 / 3 * 100%);
  background-size: 20%;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%; }

.linked-in {
  background-image: url(../images/linkedin.png);
  padding-top: calc(2 / 3 * 100%);
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%; }

.far {
  font-size: 200px; }
